parameters:
    level: 9
    scanDirectories:
        - dev-stubs
    excludePaths:
        - tests
        - vendor
    checkGenericClassInNonGenericObjectType: false
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - '#Call to an undefined method SplFileInfo::getRealPath\(\)#'
