parameters:
    level: 9
    scanDirectories:
        - dev-stubs
    paths:
        - src
    excludePaths:
        - tests
        - vendor
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - '#Call to an undefined method SplFileInfo::getRealPath\(\)#'
